trade_bot_project/
tempCodeRunnerFile.python
__pycache__/appdirs.cpython-312.pyc
__pycache__/peewee.cpython-312.pyc
__pycache__/pwiz.cpython-312.pyc
__pycache__/six.cpython-312.pyc
appdirs-1.4.4.dist-info/
appdirs.py
beautifulsoup4-4.12.3.dist-info/
bin/
boto3-1.34.71.dist-info/
boto3/
botocore-1.34.71.dist-info/
botocore/
bs4/
certifi-2024.2.2.dist-info/
certifi/
charset_normalizer-3.3.2.dist-info/
charset_normalizer/
dateutil/
frozendict-2.4.0.dist-info/
frozendict/
html5lib-1.1.dist-info/
html5lib/
idna-3.6.dist-info/
idna/
jmespath-1.0.1.dist-info/
jmespath/
lxml-5.1.0.dist-info/
lxml/
multitasking-0.0.11.dist-info/
multitasking/
numpy-1.26.4-cp312-cp312-win_amd64.whl
numpy-1.26.4.dist-info/
numpy.libs/
numpy/
pandas-2.2.1.dist-info/
pandas.libs/
pandas/
peewee-3.17.1.dist-info/
peewee.py
playhouse/
pwiz.py
python_dateutil-2.9.0.post0.dist-info/
pytz-2024.1.dist-info/
pytz/
requests-2.31.0.dist-info/
requests/
s3transfer-0.10.1.dist-info/
s3transfer/
six-1.16.0.dist-info/
six.py
soupsieve-2.5.dist-info/
soupsieve/
testing.py
tzdata-2024.1.dist-info/
tzdata/
urllib3-2.2.1.dist-info/
urllib3/
webencodings-0.5.1.dist-info/
webencodings/
yfinance-0.2.37.dist-info/
yfinance/
__pycache__/subscriber.cpython-312.pyc
linuxdependencies/
 lambda_function.zip